In [3]:
# import libraries

import numpy as np 
import pandas as pd

# Preprocess the Dataset

In [2]:
# load the data set
df = pd.read_csv('/content/drive/MyDrive/naan mudhalvan course AI/House Price India.csv')
df.head()

FileNotFoundError: ignored

In [ ]:
df.shape

(14620, 23)

In [ ]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [ ]:
# remove unwanted column

df.drop(['Date'],axis =1,inplace =True)

In [ ]:
df.head()

,id,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,5,2.50,3650,9050,2.0,0,4,5,10,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,4,2.50,2920,4000,1.5,0,0,5,8,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,5,2.75,2910,9480,1.5,0,0,3,8,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,4,2.50,3310,42998,2.0,0,0,3,9,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,3,2.00,2710,4500,1.5,0,0,4,8,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   number of bedrooms                     14620 non-null  int64
 2   number of bathrooms                    14620 non-null  float64
 3   living area                            14620 non-null  int64
 4   lot area                               14620 non-null  int64
 5   number of floors                       14620 non-null  float64
 6   waterfront present                     14620 non-null  int64
 7   number of views                        14620 non-null  int64
 8   condition of the house                 14620 non-null  int64
 9   grade of the house                     14620 non-null  int64
 10  Area of the house(excluding basement)  14620 non-null  int64
 11  Area of the basement                   14620 non-null  int64
 12  Built Year                             14620 non-null  int64
 13  Renovation Year                        14620 non-null  int64
 14  Postal Code                            14620 non-null  int64
 15  Lattitude                              14620 non-null  float64
 16  Longitude                              14620 non-null  float64
 17  living_area_renov                      14620 non-null  int64
 18  lot_area_renov                         14620 non-null  int64
 19  Number of schools nearby               14620 non-null  int64
 20  Distance from the airport              14620 non-null  int64
 21  Price                                  14620 non-null  int64
dtypes: float64(4), int64(18)
memory usage: 2.5 MB

In [ ]:
df.Lattitude.value_counts()

52.7745    13
52.8947    13
52.9255    13
52.9146    13
52.8834    13
           ..
52.8969     1
52.6834     1
52.5337     1
52.6155     1
52.5338     1
Name: Lattitude, Length: 4662, dtype: int64

In [ ]:
x= df.drop(['Lattitude'],axis =1)
y = df.Lattitude

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
y = le.fit_transform(y)

In [ ]:
y

array([3289, 3515, 3491, ..., 1992, 1865,  394])

# Build the ANN Model

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

ANN = Sequential()

# Input layer and Hidden layers

In [ ]:
ANN.add(Dense(30,activation = 'relu'))
ANN.add(Dense(128,activation = 'relu'))
ANN.add(Dense(64,activation = 'relu'))
ANN.add(Dense(32,activation = 'relu'))

#Output layer

In [ ]:
ANN.add(Dense(1,activation = 'sigmoid'))

In [ ]:
# compiling the ANN model
ANN.compile(optimizer = 'adam',loss = 'binary_crossentropy',metrics = ['accuracy'])

In [ ]:
# split the data (Training & Testing)

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [ ]:
xtrain.shape

(11696, 21)

In [ ]:
xtest.shape

(2924, 21)

In [ ]:
# Training the model

ANN.fit(xtrain,ytrain,batch_size = 1000,epochs = 100)

Epoch 1/100
12/12 [==============================] - 2s 7ms/step - loss: -4706968535040.0000 - accuracy: 8.5499e-05
Epoch 2/100
12/12 [==============================] - 0s 6ms/step - loss: -18253411778560.0000 - accuracy: 8.5499e-05
Epoch 3/100
12/12 [==============================] - 0s 6ms/step - loss: -48330419732480.0000 - accuracy: 8.5499e-05
Epoch 4/100
12/12 [==============================] - 0s 6ms/step - loss: -117390012579840.0000 - accuracy: 8.5499e-05
Epoch 5/100
12/12 [==============================] - 0s 7ms/step - loss: -264789028765696.0000 - accuracy: 8.5499e-05
Epoch 6/100
12/12 [==============================] - 0s 6ms/step - loss: -559486632722432.0000 - accuracy: 8.5499e-05
Epoch 7/100
12/12 [==============================] - 0s 6ms/step - loss: -1111678062166016.0000 - accuracy: 8.5499e-05
Epoch 8/100
12/12 [==============================] - 0s 6ms/step - loss: -2084110331805696.0000 - accuracy: 8.5499e-05
Epoch 9/100
12/12 [==============================] - 0s 6ms/step - loss: -3721851691859968.0000 - accuracy: 8.5499e-05
Epoch 10/100
12/12 [==============================] - 0s 6ms/step - loss: -6346288773726208.0000 - accuracy: 8.5499e-05
Epoch 11/100
12/12 [==============================] - 0s 6ms/step - loss: -10408162825863168.0000 - accuracy: 8.5499e-05
Epoch 12/100
12/12 [==============================] - 0s 7ms/step - loss: -16489718405398528.0000 - accuracy: 8.5499e-05
Epoch 13/100
12/12 [==============================] - 0s 6ms/step - loss: -25305700347412480.0000 - accuracy: 8.5499e-05
Epoch 14/100
12/12 [==============================] - 0s 6ms/step - loss: -37804770290827264.0000 - accuracy: 8.5499e-05
Epoch 15/100
12/12 [==============================] - 0s 6ms/step - loss: -55103124737622016.0000 - accuracy: 8.5499e-05
Epoch 16/100
12/12 [==============================] - 0s 9ms/step - loss: -78613887385075712.0000 - accuracy: 8.5499e-05
Epoch 17/100
12/12 [==============================] - 0s 9ms/step - loss: -110128252869148672.0000 - accuracy: 8.5499e-05
Epoch 18/100
12/12 [==============================] - 0s 10ms/step - loss: -151827334431768576.0000 - accuracy: 8.5499e-05
Epoch 19/100
12/12 [==============================] - 0s 10ms/step - loss: -205838403604840448.0000 - accuracy: 8.5499e-05
Epoch 20/100
12/12 [==============================] - 0s 10ms/step - loss: -274763300036673536.0000 - accuracy: 8.5499e-05
Epoch 21/100
12/12 [==============================] - 0s 9ms/step - loss: -361831237838438400.0000 - accuracy: 8.5499e-05
Epoch 22/100
12/12 [==============================] - 0s 10ms/step - loss: -470448177615470592.0000 - accuracy: 8.5499e-05
Epoch 23/100
12/12 [==============================] - 0s 9ms/step - loss: -603986476148981760.0000 - accuracy: 8.5499e-05
Epoch 24/100
12/12 [==============================] - 0s 9ms/step - loss: -767308345655689216.0000 - accuracy: 8.5499e-05
Epoch 25/100
12/12 [==============================] - 0s 9ms/step - loss: -964889760533315584.0000 - accuracy: 8.5499e-05
Epoch 26/100
12/12 [==============================] - 0s 10ms/step - loss: -1202104171545755648.0000 - accuracy: 8.5499e-05
Epoch 27/100
12/12 [==============================] - 0s 11ms/step - loss: -1484362962608062464.0000 - accuracy: 8.5499e-05
Epoch 28/100
12/12 [==============================] - 0s 9ms/step - loss: -1817878786734030848.0000 - accuracy: 8.5499e-05
Epoch 29/100
12/12 [==============================] - 0s 8ms/step - loss: -2210808783251177472.0000 - accuracy: 8.5499e-05
Epoch 30/100
12/12 [==============================] - 0s 10ms/step - loss: -2668799494123945984.0000 - accuracy: 8.5499e-05
Epoch 31/100
12/12 [==============================] - 0s 10ms/step - loss: -3199666522880475136.0000 - accuracy: 8.5499e-05
Epoch 32/100
12/12 [==============================] - 0s 10ms/step - loss: -3812641231708618752.0000 - accuracy: 8.5499e-05
Epoch 33/100
12/12 [==============================] - 0s 10ms/step - loss: -4516477382432915456.0000 - accuracy: 8.5499e-05
Epoch 34/100
12/12 [==============================] - 0s 10ms/step - loss: -5320290476203442176.0000 - accuracy: 8.5499e-05
Epoch 35/100
12/12 [==============================] - 0s 10ms/step - loss: -6234714164850327552.0000 - accuracy: 8.5499e-05
Epoch 36/100
12/12 [==============================] - 0s 10ms/step - loss: -7270242462226972672.0000 - accuracy: 8.5499e-05
Epoch 37/100
12/12 [==============================] - 0s 10ms/step - loss: -8438566475471519744.0000 - accuracy: 8.5499e-05
Epoch 38/100
12/12 [==============================] - 0s 10ms/step - loss: -9751763240303460352.0000 - accuracy: 8.5499e-05
Epoch 39/100
12/12 [==============================] - 0s 11ms/step - loss: -11222898803151470592.0000 - accuracy: 8.5499e-05
Epoch 40/100
12/12 [==============================] - 0s 11ms/step - loss: -12862814898421235712.0000 - accuracy: 8.5499e-05
Epoch 41/100
12/12 [==============================] - 0s 9ms/step - loss: -14691230167645290496.0000 - accuracy: 8.5499e-05
Epoch 42/100
12/12 [==============================] - 0s 10ms/step - loss: -16713930241008992256.0000 - accuracy: 8.5499e-05
Epoch 43/100
12/12 [==============================] - 0s 10ms/step - loss: -18955422133183840256.0000 - accuracy: 8.5499e-05
Epoch 44/100
12/12 [==============================] - 0s 10ms/step - loss: -21424056634982793216.0000 - accuracy: 8.5499e-05
Epoch 45/100
12/12 [==============================] - 0s 10ms/step - loss: -24139219235915169792.0000 - accuracy: 8.5499e-05
Epoch 46/100
12/12 [==============================] - 0s 9ms/step - loss: -27124015073327054848.0000 - accuracy: 8.5499e-05
Epoch 47/100
12/12 [==============================] - 0s 9ms/step - loss: -30383605254799228928.0000 - accuracy: 8.5499e-05
Epoch 48/100
12/12 [==============================] - 0s 9ms/step - loss: -33948932236560564224.0000 - accuracy: 8.5499e-05
Epoch 49/100
12/12 [==============================] - 0s 9ms/step - loss: -37833676142283849728.0000 - accuracy: 8.5499e-05
Epoch 50/100
12/12 [==============================] - 0s 9ms/step - loss: -42057098216664465408.0000 - accuracy: 8.5499e-05
Epoch 51/100
12/12 [==============================] - 0s 9ms/step - loss: -46643579030536716288.0000 - accuracy: 8.5499e-05
Epoch 52/100
12/12 [==============================] - 0s 9ms/step - loss: -51608797619712688128.0000 - accuracy: 8.5499e-05
Epoch 53/100
12/12 [==============================] - 0s 10ms/step - loss: -56981200549026201600.0000 - accuracy: 8.5499e-05
Epoch 54/100
12/12 [==============================] - 0s 10ms/step - loss: -62771158412150439936.0000 - accuracy: 8.5499e-05
Epoch 55/100
12/12 [==============================] - 0s 9ms/step - loss: -69023861136986996736.0000 - accuracy: 8.5499e-05
Epoch 56/100
12/12 [==============================] - 0s 11ms/step - loss: -75748153195069702144.0000 - accuracy: 8.5499e-05
Epoch 57/100
12/12 [==============================] - 0s 9ms/step - loss: -82973923710488018944.0000 - accuracy: 8.5499e-05
Epoch 58/100
12/12 [==============================] - 0s 9ms/step - loss: -90713306893566083072.0000 - accuracy: 8.5499e-05
Epoch 59/100
12/12 [==============================] - 0s 9ms/step - loss: -99005401377787609088.0000 - accuracy: 8.5499e-05
Epoch 60/100
12/12 [==============================] - 0s 11ms/step - loss: -107882884648730099712.0000 - accuracy: 8.5499e-05
Epoch 61/100
12/12 [==============================] - 0s 9ms/step - loss: -117368538587321073664.0000 - accuracy: 8.5499e-05
Epoch 62/100
12/12 [==============================] - 0s 9ms/step - loss: -127477439697000595456.0000 - accuracy: 8.5499e-05
Epoch 63/100
12/12 [==============================] - 0s 9ms/step - loss: -138260658093855604736.0000 - accuracy: 8.5499e-05
Epoch 64/100
12/12 [==============================] - 0s 9ms/step - loss: -149721377963560140800.0000 - accuracy: 8.5499e-05
Epoch 65/100
12/12 [==============================] - 0s 11ms/step - loss: -161907186169364348928.0000 - accuracy: 8.5499e-05
Epoch 66/100
12/12 [==============================] - 0s 9ms/step - loss: -174870832881122410496.0000 - accuracy: 8.5499e-05
Epoch 67/100
12/12 [==============================] - 0s 9ms/step - loss: -188619953107577602048.0000 - accuracy: 8.5499e-05
Epoch 68/100
12/12 [==============================] - 0s 10ms/step - loss: -203178894434215395328.0000 - accuracy: 8.5499e-05
Epoch 69/100
12/12 [==============================] - 0s 13ms/step - loss: -218550911415454007296.0000 - accuracy: 8.5499e-05
Epoch 70/100
12/12 [==============================] - 0s 12ms/step - loss: -234854258725884002304.0000 - accuracy: 8.5499e-05
Epoch 71/100
12/12 [==============================] - 0s 11ms/step - loss: -252050022449975132160.0000 - accuracy: 8.5499e-05
Epoch 72/100
12/12 [==============================] - 0s 13ms/step - loss: -270223612650973036544.0000 - accuracy: 8.5499e-05
Epoch 73/100
12/12 [==============================] - 0s 12ms/step - loss: -289386728132597252096.0000 - accuracy: 8.5499e-05
Epoch 74/100
12/12 [==============================] - 0s 11ms/step - loss: -309540705900987154432.0000 - accuracy: 8.5499e-05
Epoch 75/100
12/12 [==============================] - 0s 10ms/step - loss: -330765783916691324928.0000 - accuracy: 8.5499e-05
Epoch 76/100
12/12 [==============================] - 0s 12ms/step - loss: -353126085697841659904.0000 - accuracy: 8.5499e-05
Epoch 77/100
12/12 [==============================] - 0s 11ms/step - loss: -376632377662297341952.0000 - accuracy: 8.5499e-05
Epoch 78/100
12/12 [==============================] - 0s 10ms/step - loss: -401292154081313292288.0000 - accuracy: 8.5499e-05
Epoch 79/100
12/12 [==============================] - 0s 11ms/step - loss: -427178598448834281472.0000 - accuracy: 8.5499e-05
Epoch 80/100
12/12 [==============================] - 0s 8ms/step - loss: -454283618359279878144.0000 - accuracy: 8.5499e-05
Epoch 81/100
12/12 [==============================] - 0s 10ms/step - loss: -482772474808351326208.0000 - accuracy: 8.5499e-05
Epoch 82/100
12/12 [==============================] - 0s 11ms/step - loss: -512541620188991193088.0000 - accuracy: 8.5499e-05
Epoch 83/100
12/12 [==============================] - 0s 8ms/step - loss: -543652627152354934784.0000 - accuracy: 8.5499e-05
Epoch 84/100
12/12 [==============================] - 0s 14ms/step - loss: -576281980508840132608.0000 - accuracy: 8.5499e-05
Epoch 85/100
12/12 [==============================] - 0s 12ms/step - loss: -610332606575853699072.0000 - accuracy: 8.5499e-05
Epoch 86/100
12/12 [==============================] - 0s 13ms/step - loss: -645880996178316754944.0000 - accuracy: 8.5499e-05
Epoch 87/100
12/12 [==============================] - 0s 11ms/step - loss: -683000297625801981952.0000 - accuracy: 8.5499e-05
Epoch 88/100
12/12 [==============================] - 0s 8ms/step - loss: -721693818249285730304.0000 - accuracy: 8.5499e-05
Epoch 89/100
12/12 [==============================] - 0s 12ms/step - loss: -762133539259538210816.0000 - accuracy: 8.5499e-05
Epoch 90/100
12/12 [==============================] - 0s 13ms/step - loss: nan - accuracy: 8.5499e-05
Epoch 91/100
12/12 [==============================] - 0s 13ms/step - loss: nan - accuracy: 8.5499e-05
Epoch 92/100
12/12 [==============================] - 0s 11ms/step - loss: nan - accuracy: 8.5499e-05
Epoch 93/100
12/12 [==============================] - 0s 13ms/step - loss: nan - accuracy: 8.5499e-05
Epoch 94/100
12/12 [==============================] - 0s 12ms/step - loss: nan - accuracy: 8.5499e-05
Epoch 95/100
12/12 [==============================] - 0s 12ms/step - loss: nan - accuracy: 8.5499e-05
Epoch 96/100
12/12 [==============================] - 0s 12ms/step - loss: nan - accuracy: 8.5499e-05
Epoch 97/100
12/12 [==============================] - 0s 10ms/step - loss: nan - accuracy: 8.5499e-05
Epoch 98/100
12/12 [==============================] - 0s 13ms/step - loss: nan - accuracy: 8.5499e-05
Epoch 99/100
12/12 [==============================] - 0s 16ms/step - loss: nan - accuracy: 8.5499e-05
Epoch 100/100
12/12 [==============================] - 0s 11ms/step - loss: nan - accuracy: 8.5499e-05

#Test the Model

In [ ]:
y_pred = ANN.predict(xtest)

92/92 [==============================] - 0s 2ms/step

In [ ]:
pd.DataFrame({'Actual value':ytest.flatten(),'predicted value':y_pred.flatten().astype('int')}).head(10)

   Actual value      predicted value
0           876 -9223372036854775808
1          2467 -9223372036854775808
2          2389 -9223372036854775808
3          4503 -9223372036854775808
4          3103 -9223372036854775808
5          2495 -9223372036854775808
6          3840 -9223372036854775808
7          1320 -9223372036854775808
8          1661 -9223372036854775808
9           625 -9223372036854775808